body {
	font-family: "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	background-color: #fff;
	color: #444;
	font-size: 13px;
}

a {
	text-decoration: none;
	
}

h2 {
	
}
#content-wrap {
	width: 1001px;
	margin: 0 auto;
        font-size: 14px;
}
#intro-map {
	width: 900px;
	height: 600px;
}

#map-description {
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	font-style: italic;
	width: 750px;
}

p#data-source {
	text-align: right;
}
p#credits {
	text-align: center;
}
p#map-description {
	
}
